{% extends "fileshare/layout.html" %}

{% block content %}

    <div class="file-widget">
        <div class="file-widget-header">
            Login
        </div>
        <form class="user-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-secondary" type="submit" value="Submit">
        </form>
    </div>

{% endblock %}