body {
    background-color: #110527;
}

.custom-navbar {
    height: 64px;
    margin-bottom: 28px;
    background-color: #20062C;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid gray 3px;
}

.brand {
    margin-left: 2%; 
    font-size: xx-large; 
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
}

.navbar-links {
    text-decoration: none;
    display: flex;
    font-size: large;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 0px;
    list-style: none;
}

.nav-item {
    margin-right: 24px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.file-widget {
    width: 80%;
    min-width: min-content;
    max-width: 1024px;
    padding: 10px;
    background-color: #20062C;
    border-radius: 5px;
    border: solid gray 3px;
}

.upload-info {
    font-size: 0.75rem;
    color: darkslategrey;
}

.info-widget {
    display: flex;
    width: 70%;
    margin-top: 24px;
    min-width: min-content;
    max-width: 512px;
    padding: 10px;
    background-color: #20062C;
    border-radius: 5px;
    border: solid gray 3px;
    justify-content: space-between;
}

.file-widget-header, .info-widget-header {
    display: flex;
    font-size: x-large;
    font-weight: bold;
    color: whitesmoke;
    justify-content: space-between;
}

.file-widget-header {
    transition: color .15s ease-in-out;
}

.dir-links > * {
    color: whitesmoke;
    font-size: large;
    font-weight: normal;
    vertical-align: top;
}

.files-view {
    border: solid gray 2px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.file-row, .upload-row {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.file {
    padding: 6px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: max-content;
    border-right: solid gray 2px;
}

.preview {
    height: 48px;
    width: 48px;
    object-fit: contain;
    padding-left: 6px;
    padding-right: 6px;
    border-right: solid gray 1px;
}

.file-name {
    color: #54083D;
    font-size: large;
}

.delete {
    padding: 6px;
    width: min-content; 
    height: 100%;
}

.user-form > * > * {
    margin-bottom: 6px;
}

.storage-data {
    color: whitesmoke;
    align-self: center;
    font-size: large;
    text-wrap: nowrap;
}

.message {
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    width: 30%;
    margin-top: 24px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    font-size: large;
    font-weight: bolder;
}

.file-row:not(:last-child) {
    border-bottom: solid gray 2px;
}
